@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

This is the C# Web Tracking Test Application. <br /><br />

This page does nothing. <br /><br />

This <a href="Samples/JavascriptVisitScopedCustomVariable">one</a> registers 2 visit scoped custom variables with the Javascript API. <br /><br />
This <a href="Samples/VisitScopedCustomVariableServerRead">one</a> reads scoped custom variables index 1 and 2 with the Server Side Tracking API. <br /><br />
This <a href="Samples/VisitorIdServerRead">one</a> reads the visitor id with the Server Side Tracking API. <br /><br />
This <a href="Samples/AttributionInfoServerRead">one</a> reads attribution info with the Server Side Tracking API. <br /><br />
This <a href="Samples/JavascriptGoalTracking">one</a> register a goal conversion with a referrer via the javascript API.<br /><br />
This <a href="Samples/ServerSideGoalTracking">one</a> register a goal conversion via the Server Side Tracking API.<br /><br />
This <a href="Samples/ServerSideDeleteCookies">one</a> deletes all first party Piwik cookies using the Server Side Tracking API.<br /><br />
